<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BizQPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BizQPOS.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentUser" serializeAs="String">
                <value />
            </setting>
            <setting name="IsShop" serializeAs="String">
                <value>False</value>
            </setting>
        </BizQPOS.Properties.Settings>
    </userSettings>
</configuration>